* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #242424;
  color: #fff;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  width: 430px;
  height: 932px;
  background-color: #151515;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 52px;
  position: relative;
  overflow: hidden;
}

span {
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  margin: 350px 0 100px;
}

i {
  font-size: 24px;
}

main .controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 321px;
  gap: 82px;
}

.hue,
.brightness,
.contrast {
  display: flex;
  align-items: center;
  gap: 16px;
}

.hue>div,
.brightness>div,
.contrast>div {
  display: flex;
  align-items: center;
  /* height: 5px; */
  border-radius: 12px;
  background-color: #fff;
}

.hue>div {
  background: linear-gradient(to right,
      red,
      yellow,
      lime,
      aqua,
      blue,
      magenta,
      red);
}

input[type="range"] {
  width: 281px;
  height: 5px;
  appearance: none;
  background-color: transparent;
}

.hue>div>input[type="range"]::-webkit-slider-thumb,
.brightness>div>input[type="range"]::-webkit-slider-thumb,
.contrast>div>input[type="range"]::-webkit-slider-thumb {
  width: 18px;
  height: 18px;
  border: 3px solid #fff;
  background-color: transparent;
  appearance: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.brightness>div>input[type="range"]::-webkit-slider-thumb,
.contrast>div>input[type="range"]::-webkit-slider-thumb {
  background-color: #151515;
  border: 3px solid #fff;
}

main .preview {
  display: flex;
  width: 846px;
  height: 846px;
  background-color: red;
  border-radius: 50%;
  box-shadow: 0px 0px 53px 13px red;
  position: absolute;
  top: -500px;
}